// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$base-url: '/img/' !default;

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Main brand color
/// @type Color
$brand-color: #e50914 !default;

/// Backgrounf color
/// @type Color
$bg-color: #2c3b42 !default;

/// Copy text color
/// @type Color
$text-color: #999 !default;

/// Backgrounf color
/// @type Color
$bg-color: #2c7b42 !default;

/// Medium grey
/// @type Color
$title-color: #fff !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


