$outer-space : #2b3a42;
$gold : gold;

$base__font-size: 15 !default;
$base__line: 20 !default;

@function em($px, $base: $base__font-size ) {
  @return ($px / $base) * 1em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  background-color: $outer-space;
}
body {
	text-align: center;
	img {
		width: 70%; height: auto;
	}
}