/*------------------------------------*\
    $ ANIMATION
\*------------------------------------*/
@mixin keyframes($animation-name) {
	@keyframes #{$animation-name} {
			@content;
	}
}

@mixin animation($str) {
  animation: #{$str};      
}
/*** Cas d'usage ***/

/* @include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
} */

/*------------------------------------*\
    $ MEDIA QUERIES
\*------------------------------------*/
@mixin bp-large {
  @media only screen and (min-width: 30em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (min-width: 60em) {
    @content;
  }
}

/*** Cas d'usage ***/
/*
.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
  @include bp-small {
    width: 100%;
    float: none;
    margin: 0;
  }
}
*/
/*------------------------------------*\
    $ TRANSITION 
\*------------------------------------*/
@mixin transition($args...) {
  transition: $args;
}
/*** Cas d'usage ***/
/*
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
*/